<!DOCTYPE html>
<html>
<head>
  <title>Welcome to gitPub</title>
  <style>
    body {
      color: blanchedalmond;
      background-color: steelblue;
    }
  </style>
</head>
<body>
  <h1>Welcome to gitPub</h1>
  <ul>
    <% drinks.forEach((drink) => { %>
      <li>
        <a href="/drinks/<%= drinks.indexOf(drink) %>">
          <%= drink.name.charAt(0).toUpperCase() + drink.name.slice(1) %>
        </a>
      </li>
    <% }) %>
  </ul>
</body>
</html>

