<!DOCTYPE html>
<html>
<head>
  <title>GitPub App</title>
  <style>
    body {
      text-align: center;
      color: blanchedalmond;
      background-color: rgb(191, 44, 31);
    }
  </style>
</head>
<body>
  <h1>Welcome To Gitpub!</h1>
  <h2>Drinks-Menu</h2>
  <h2>Name: <%= drink.name.charAt(0).toUpperCase() + drink.name.slice(1) %></h2>
  <img src="<%= drink.image %>" alt="<%= drink.name %>">
  <h3>Price in $ : <%= drink.price %></h3>
  <a href="http://localhost:2000/gitpubmenu">Back</a>
</body>
</html>