<!DOCTYPE html>
<html>
<head>
  <title>GitPub app</title>
  <style>
    body {
      text-align: left;
      color: blanchedalmond;
      background-color: rgb(86, 171, 232);
    }
  </style>
</head>
<body>
  <h1>Welcome to gitPub</h1>
  <h2>Our Menus</h2>
  <h2>Drinks:</h2>
  <ul>
    <% drinks.forEach((drink) => { %>
      <li>
        <a href="/drinks/<%= drinks.indexOf(drink) %>">
          <%= drink.name.charAt(0).toUpperCase() + drink.name.slice(1) %>
        </a>
      </li>
    <% }) %>
  </ul>
  <h2>Food:</h2>
  <ul>
    <% foods.forEach((food) => { %>
      <li>
        <a href="/foods/<%= foods.indexOf(food) %>">
          <%= food.name.charAt(0).toUpperCase() + food.name.slice(1) %>
        </a>
      </li>
    <% }) %>
  </ul>
</body>
</html>
