<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinks App</title>
    <style type="text/css">
        body {
            color: blanchedalmond;
            background-color: rgb(41, 2, 34);
        }
        </style>
</head>
<body>
    <h1>Welcome To Gitpub</h1>
   
    
</body>
</html>